################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/TechSession/.vs/TechSession/v15/Server/sqlite3
/TechSession/TechSession/Properties/PublishProfiles
/TechSession/.vs/TechSession/DesignTimeBuild
